* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 0;
  text-align: center;
} */

body {
  height: 100%;
}

.container {
  /* max-width: 1280px; */
  margin: 0 auto;

  height: 100vh;
  text-align: center;
}

.header {
  margin: 1rem;
}

.header h1 {
  font-size: 2rem;
  font-weight: 900;
  padding: 1.4rem;
}

nav {
  margin-top: 0.5rem;
}

.navbar {
  background-color: rgb(47, 45, 45);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-bottom: 3px solid red;
}

.topic-link {
  text-decoration: none;
  padding: 0.5rem;
  text-transform: uppercase;
}

.topic-link:visited {
  color: inherit;
}

.articles-container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  padding: 2rem;
  border: 3px solid #ccc;
  border-radius: 2rem;
  line-height: 1.5;
}

.article .body {
  margin: 1rem 0;
}

.article .stats {
  margin-top: 1rem;
  font-weight: 700;
}

.article p,
span {
  margin: 0.5rem 0;
}

.article span {
  color: red;
}

.topic-articles-container {
  width: 50%;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.topic-image {
  width: 100%;
  max-width: 500px;
  margin: 1rem 0;
}

/* article by id styling */

.article-by-id {
  /* border: 3px solid rgb(89, 88, 88); */
  margin: 2rem;
  line-height: 1.7;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-by-id h3 {
  font-size: 1.7rem;
  padding: 2rem;
}

.article-body {
  margin: 2rem;
}

.votes {
  width: 20%;
  margin: 1rem auto;
}

.votes button {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.3rem;
  margin: 0.5rem;
  cursor: pointer;
}

/* below are the styles for comments and single comment */

.comments-container {
  /* width: 90%; */
  margin: 1rem auto;
}

/* single comment */
.comment-container {
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border: 3px solid #ccc;
  border-radius: 10px;
}

.comment-body {
  padding: 15px;
  font-size: 1.5rem;
}

.comment-author {
  font-weight: 700;
  font-size: 1.2rem;
}

.comment-author span {
  color: red;
  font-weight: 700;
  font-size: 1.2rem;
}

.comment-votes {
  padding: 5px;

  font-weight: 700;
  font-size: 1.2rem;
}

.comment-votes span {
  color: red;
  font-weight: 700;
  font-size: 1.2rem;
}

.comment-created-at {
  font-weight: 700;
  font-size: 1.2rem;
  padding-bottom: 15px;
}

.comment-created-at span {
  color: red;
  font-weight: 700;
  font-size: 1.2rem;
}
